name: CI
on:
  pull_request:
  push:
  schedule:
    - cron: '29 1 * * *' # *-*-* 01:29:00 UTC

permissions:
  contents: read

env:
  RUST_BACKTRACE: full
  RUSTFLAGS: -Dwarnings

jobs:
  test:
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        rust: [nightly, beta, stable]
        os: [ubuntu-latest, macos-latest, windows-latest]
    name: Test ${{ matrix.rust }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          components: rust-analyzer

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - uses: taiki-e/install-action@cargo-hack

      # `cargo build` doesn't pull in [dev-dependencies].
      - name: Build
        run: cargo hack build --each-feature
      - name: Doc test
        run: cargo hack test --each-feature --doc
      - name: Test
        run: cargo hack test --each-feature --all-targets
      - name: Test examples
        run: cargo test --all-features --examples -- --ignored

  msrv:
    timeout-minutes: 15
    name: MSRV
    strategy:
      fail-fast: false
      matrix:
        # FIXME: MacOS' `sed` is incompatible with `gnused`.
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      # cargo-minimal-versions itself needs nightly to update lockfile.
      - uses: dtolnay/rust-toolchain@nightly

      - uses: taiki-e/install-action@cargo-minimal-versions
      - uses: taiki-e/install-action@cargo-hack

      # Sync MSRV with Cargo.toml!
      - run: cargo +1.66 minimal-versions build --direct --all-features
        env:
          CARGO_RESOLVER_INCOMPATIBLE_RUST_VERSIONS: fallback
        

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy

      - run: cargo clippy --all-targets --all-features -- -Dclippy::all

  docs:
    name: Docs
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - run: cargo doc --all-features
        env:
          RUSTDOCFLAGS: --cfg docsrs_ -Dwarnings
